[Unit]
Description=Update vendor packages every 1h:30m
Wants=network-online.target
After=network-online.target


[Timer]
Unit=update-packages.target

OnCalendar=0/3:0
OnCalendar=1/3:30
Persistent=true

WakeSystem=false
AccuracySec=1 week
RandomizedDelaySec=1 hour


[Install]
WantedBy=timers.target
